<div class="container">
    <div class="row">
        <div class="col">
            <div class="signup-information-subheading-top">Save 45% in note-taking time</div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="signup-information-heading-main">Listen more and ask better questions</div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="signup-information-subheading-bottom">Better qualification = more quality selling time</div>
        </div>
    </div>
    <div class="row">
        <div class="col col-center-items">
            <div class="signup-information-notetaking-image"></div>
        </div>
    </div>
</div>
