<div class="container">
    <div class="row">
        <div class="col">
            <div class="signup-information-subheading-top">
                25% boost in win rate
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="signup-information-heading-main">
                Improve sales forecast accuracy
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="signup-information-subheading-bottom">
                A single platform for sales
                qualification, accounts review, win/loss
                analysis & coaching
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col col-center-items">
            <div class="signup-information-forcast-image"></div>
        </div>
    </div>
</div>
