<div class="container">
    <div class="row">
        <div class="col">
            <div class="signup-information-subheading-top">Save 40% in preparation time</div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="signup-information-heading-main">Be more prepared for client meetings</div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="signup-information-subheading-bottom">Preparation prevents poor performance</div>
        </div>
    </div>
    <div class="row">
        <div class="col col-center-items">
            <div class="signup-information-image"></div>
        </div>
    </div>
</div>
